/**
 * @name Vladyslav's Theme
 * @author v.malyshenko
 * @authorId 613300756346306565
 * @version 1.0.2
 * @description Really cool theme for discord.
*/

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Differen theme variables */
.theme-dark {
    --v-accent-color: rgba(56, 56, 56, var(--v-ui-transparency));
    --v-accent-additional-color: rgba(128, 128, 128, var(--v-ui-transparency));
    --v-text-color: rgb(255, 255, 255);
    --v-additional-elements: rgb(136, 66, 99);
    --v-status-color: rgb(255, 9, 124);
    --v-button: rgba(255, 9, 124, 1);
    --v-button-hover: rgba(168, 0, 79, 1);
    --v-message-hover: rgba(168, 0, 79, 0.15);
    --v-icon-color: rgb(0, 0, 0);
    --v-speaker-color: linear-gradient(
        to right,
        rgba(168, 0, 79, 1),
        rgb(53, 0, 114)
    );
}

.theme-light {
    --v-accent-color: rgba(255, 255, 255, var(--v-ui-transparency));
    --v-accent-additional-color: rgba(128, 128, 128, var(--v-ui-transparency));
    --v-text-color: rgb(0, 0, 0);
    --v-additional-elements: rgb(255, 109, 177);
    --v-status-color: rgba(255, 163, 206, 1);
    --v-button: rgba(255, 163, 206, 1);
    --v-button-hover: rgba(255, 124, 185, 1);
    --v-message-hover: rgba(255, 124, 185, 0.15);
    --v-message-mention-background: rgba(255, 124, 185, 0.35);
    --v-message-mention-background-hover: rgba(255, 124, 185, 0.45);
    --v-icon-color: rgba(255, 255, 255, var(--v-ui-transparency));
    --v-speaker-color: linear-gradient(
        to right,
        rgb(255, 109, 177),
        rgb(119, 0, 255)
    );
}

.theme-dark,
.theme-light {
    --v-app-offset: 100px;
    --v-font-header: "Comfortaa";
    --v-ui-transparency: 0.4;
    --v-radius-ui: 16px;
    --v-margin-top: calc(var(--v-app-offset) / 2);
    --v-ui-gap-between: 15px;
    --v-call-background: transparent;
    --v-background: url(./bg_1.gif);
    --v-avatar-border-radius: 10px;

    --background-primary: var(--v-accent-color) !important;
    --background-secondary: var(--v-accent-color) !important;
    --channelbodyarea-background: var(--v-accent-color) !important;
    --background-tertiary: var(--v-accent-color) !important;
    --channeltextarea-background: var(--v-additional-elements) !important;
    --background-mobile-primary: var(--v-accent-color) !important;
    --background-mobile-secondary: var(--v-accent-color) !important;
    --text-muted: var(--v-text-color) !important;
    --header-secondary: var(--v-text-color) !important;
    --green-360: var(--v-status-color) !important;
    --text-positive: var(--v-status-color) !important;
    --status-positive: var(--v-status-color) !important;
    --brand-experiment: var(--v-button) !important;
    --brand-experiment-600: var(--v-button-hover) !important;
    --brand-experiment-560: var(--v-button-hover) !important;
    --brand-experiment-160: var(--v-button) !important;
    --mention-foreground: var(--v-button) !important;
    --mention-background: var(--v-button-hover) !important;
    --control-brand-foreground: var(--v-status-color) !important;
    --button-positive-background: var(--v-button) !important;
    --button-positive-background-hover: var(--v-button-hover) !important;
    --button-positive-background-active: var(--v-button-hover) !important;
    --background-message-hover: var(--v-message-hover) !important;
    --text-link: var(--v-status-color) !important;
    --brand-500: var(--v-status-color) !important;
    --brand-experiment-80a: var(--v-message-hover) !important;
    --status-positive-background: var(--green-360) !important;

    --channel-icon: var(--v-icon-color) !important;

    --interactive-active: var(--v-status-color) !important;
    --interactive-hover: var(--v-additional-elements) !important;
    --interactive-muted: var(--primary-300);
    --interactive-normal: var(--v-text-color);
    --channels-default: var(--v-text-color);

    --background-modifier-selected: var(
        --v-message-mention-background
    ) !important;
    --background-modifier-active: var(
        --v-message-mention-background
    ) !important;
    --background-modifier-hover: var(--v-message-hover) !important;

    --text-normal: var(--v-text-color) !important;
    --input-background: var(--v-accent-color) !important;
}

/* Window top bar */
.typeWindows__5fa63 {
    background-color: var(--v-accent-color) !important;
    border-radius: var(--v-radius-ui, 16px) !important;
    height: 20px !important;
    padding-bottom: 4px !important;
    position: relative !important;
    align-items: center !important;
}

/* Noice reducer test */
.container_ced194 {
    background: var(--v-speaker-color) !important;
}

/* Top layer */
.appAsidePanelWrapper__5e6e2 {
    padding: var(--v-app-offset, 0);
    box-sizing: border-box;
}

.container_d1f8f5 {
    border-radius: var(--v-radius-ui, 16px) !important;
    overflow: hidden;
}

/* Server members sidebar */
.ownerIcon_bd8e7d {
    color: var(--v-icon-color) !important;
}

.membersWrap__5ca6b {
    height: 100%;
}

.content__690c5 {
    height: auto !important;
}

.checked__6bdb0 {
    background-color: var(--v-status-color) !important;
}

.checked__6bdb0 .slider__41d94 svg path {
    fill: var(--v-status-color) !important;
}

/* Preventing styles */

.overlap__6969e .avatar_a56eee {
    border: none;
}

.container_debb33 {
    background: var(--v-additional-elements) !important;
}

.privateChannels__9b518,
.container__7e23c,
.container_f79ab4,
.scroller__89969,
.nowPlayingColumn_b025fe,
.fieldList__4e6dd,
.member_b44d5d {
    background: transparent !important;
}

.title_d4ba1a,
.container_f79ab4,
.chatContent_f087cb,
.sidebar_e031be,
.wrapper__216eb,
.container__26baa,
.peopleColumn__0c784,
.nowPlayingColumn_b025fe,
.pageWrapper_c182d3,
.scroller__32e73,
.membersWrap__5ca6b,
.profilePanel_e2cafe,
.contentRegion__08eba,
.sidebarRegion__36437,
.avatarHint__15059 {
    overflow: hidden;
    border-radius: var(--v-radius-ui, 16px) !important;
}

.scroller_d4b86c,
.standardSidebarView__12528 {
    border-radius: var(--v-radius-ui, 16px) !important;
}

.sidebar__02e8d {
    padding: 60px 0;
}

/* Preventing styles end */

.button_b82d53 .buttonColor__7bad9.buttonActive_ae686f,
.button_b82d53.buttonColor__7bad9.buttonActive_ae686f,
.button_b82d53 .buttonColor__7bad9.buttonActive_ae686f:hover,
.button_b82d53.buttonColor__7bad9.buttonActive_ae686f:hover {
    background-color: var(--v-button-hover);
}

.container__2ed72.checked__36fdc {
    background-color: var(--v-button) !important;
}

.container__2ed72.checked__36fdc .slider__41d94 svg path {
    fill: var(--v-button) !important;
}

.children_cde9af::after {
    display: none;
}

.peopleColumn__0c784 {
    background: var(--bg-overlay-3, var(--background-secondary));
}

/* Gap betwenn ui */
.content__4bf10,
.container__037ed,
.chat__52833,
.content__1a4fe,
.content__76dcf,
.container_d1f8f5,
.content__01e65,
.container_bd15da,
.tabBody_a90ea8,
.standardSidebarView__12528 {
    gap: var(--v-ui-gap-between, 0);
    background: transparent !important;
}

.wrapper_bd2abe {
    border-radius: var(--v-radius-ui) !important;
}

.callContainer_cbde45 {
    background: var(--v-call-background, transparent) !important;
}

.wrapper_a7e7a8 {
    height: 100%;
}

.container__93316,
.chat__52833,
.sidebar_ded4b5,
.wrapper_a7e7a8,
.chatContent__5dca8,
.members__9f47b,
.container__11d72 {
    border-radius: var(--v-radius-ui, 16px) !important;
}

/* User */
.avatarStack__789b4,
.avatar__08316,
.userAvatar_f45224,
.avatar_a56eee,
.avatarSmall__85dc8,
.avatarSpeaking__747a1 {
    overflow: hidden;
    border-radius: var(--v-avatar-border-radius, 8px);
}

.mask_d5067d circle,
.bannerSVGWrapper__8a38c mask circle {
    display: none;
    fill: none;
}

.wrapper__3ed10 {
    background: var(--v-status-color);
}

.avatarHint__15059 foreignObject,
.mask_d5067d foreignObject {
    mask: none !important;
}

/* User pop out */
.scroller_f9a667 {
    max-height: 500px;
}
/* User pop out end */

@keyframes avatarRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.avatar__08316:hover,
.avatar__08316:hover + .avatarDecoration__8a0c2 {
    animation: avatarRotate 0.7s;
}

/* User end */

.categoryFadeBlurple_e73c11:hover {
    background: var(--v-status-color) !important;
}

.container_b2ce9c,
.layer_f7d46a,
.contentRegion__08eba {
    background: transparent;
}

.member_b44d5d {
    margin: 10px;
}

.content_d67847 {
    background: var(--v-accent-additional-color) !important;
}

.theme-dark .layer-1Ixpg3 .theme-light {
    --header-primary: #060607;
    --header-secondary: #4f5660;
    --text-normal: #2e3338;
    --interactive-normal: #4f5660;
}

#app-mount {
    background: var(--v-background) !important;
    background-size: cover !important;
    background-position: center !important;
}

body {
    background-color: var(--v-accent-color);
}

.appMount_fae9dd,
.app__00c92,
.bg__7adbf,
.bg__12180,
.app_de4237 {
    background-color: transparent !important;
}

.bd-transparency,
.bd-transparency #app-mount {
    background: transparent !important;
}

.theme-light .emoji,
.theme-light .emoji.jumboable {
    filter: drop-shadow(0 0 1px #00000055);
}
.bd-pfbtn,
.bda-settings-button,
.wrapper-22ayhK,
.rtc-connection-status {
    padding-bottom: 2px;
}

/* Christmas update :3 */

/* .userPopoutInner_f545a3::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(https://www.animationsoftware7.com/img/agifs/snow02.gif);
    background-size: cover;
    pointer-events: none;
}

.avatarWrapper_f77579::after {
    content: " ";
    width: 75px;
    height: 75px;
    position: absolute;
    top: -35%;
    right: -10px;
    background: url(https://i.pinimg.com/originals/af/a6/55/afa655cd471aee57e0b923b90e5d57bf.png);
    background-size: cover;
} */

/* End */

.avatarWrapper_f77579 svg foreignObject {
    mask: none !important;
    border-radius: var(--v-avatar-border-radius) !important;
}

.avatarHint__8e5b9 foreignObject {
    mask: none !important;
}

.avatarHintInner__3d1c9 {
    border-radius: var(--v-avatar-border-radius) !important;
}

.wrapper_edb6e0 svg foreignObject {
    mask: none !important;
    border-radius: var(--v-avatar-border-radius) !important;
}

.avatarSpeaking__61fb1 {
    border-radius: var(--v-avatar-border-radius) !important;
}

.wrapper__3af0b foreignObject {
    mask: none !important;
    border-radius: var(--v-avatar-border-radius) !important;
    border: 0 solid transparent;
    transition: 0.3s;
}

.container__590e2,
.content__23cab {
    background: transparent !important;
}

.membersWrap__90226 {
    height: 100%;
}

.lookFilled__19298.colorGreen__5f181,
.tabBar__73938 .addFriend__80542.addFriend__80542.addFriend__80542 {
    background: var(--v-button);
    transition: 0.3s;
}

.lookFilled__19298.colorGreen__5f181:hover,
.lookFilled__19298.colorGreen__5f181.active,
.tabBar__73938 .addFriend__80542.addFriend__80542.addFriend__80542:hover {
    background: var(--v-button-hover);
}

.tabBar__73938
    .addFriend__80542.addFriend__80542.addFriend__80542[aria-selected="true"] {
    color: var(--v-button);
}

.markup_a7e664 a {
    background-color: #00000025;
    padding: 1px;
    border-radius: 5px;
    transition: 0.3s;
}

.markup_a7e664 a:hover {
    background-color: #00000055;
}

.mentioned__58017 {
    background: var(--v-message-mention-background);
    transition: 0.3s;
}

.mentioned__58017:before {
    background: var(--v-additional-elements);
}

.message__80c10.mentioned__58017.selected_fd9051,
.mouse-mode.full-motion .mentioned__58017:hover {
    background: var(--v-message-mention-background-hover);
}

header,
h1,
.nameAndDecorators_e34d47,
.headerNameWrapper-3res2c,
.username_d30d99,
.headerText-15Q25Z,
.nickname-2gQ76l,
.nameTag__0e320,
.detailsInner__06b77,
.activityName__47e51,
.emojiUploader-1f0pVx,
.userHook-3AdCBF,
.secondaryHeader-2oeRPO,
.roleName_d19d33,
.roleName-35qCvR,
.roleName-3910zV,
.membersGroup__85843,
.roleRow-3HnunM,
.roleMention__02469,
.wrapper__2d9b1,
[data-slate-object="inline"] .mention,
.systemMessage__6e6a4 .anchorUnderlineOnHover-2qPutX,
.name__590d6,
.name__8d1ec,
.title__9e2b0,
.title-3hptVQ,
.bd-author,
.bd-meta .bd-link,
.timestamp_cdbd93 {
    font-family: var(--v-font-header), "sans-serif" !important;
}
